<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% block content %}
        {% if messages %}
            {% for message in messages %}
                <h1>{{ message }}</h1>
            {% endfor %}
        {% endif %}
        {% if request.user.is_authenticated and request.user.superuser == False %}
            <h2>{{ request.user }}</h2> <br>
            <h4>Your balance: {{ request.user.wallet }}</h4>
            <form method="get" action="{% url 'logout' %}">
                <br>
                <input type="submit" value="Logout">
            </form>
            {% for prod in object_list %}
                <form method="post" action="{% url 'create_purchase' %}">
                    <div>
                        <P>Product: {{ prod.name }}
                        <p>Description: {{ prod.description }}</p>
                        <p>Price: {{ prod.price }}</p>
                        <p>Stock availability: {{ prod.quantity_in_stock }}</p>
                        <p>{{ purchase_form }}</p>
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ prod.id }}">
                        <input type="submit" value="buy">
                    </div>
                </form>
                <form method="get" action="{% url 'purchase' %}">
                <input type="submit" value="My purchases">
                </form>
            {% endfor %}
        {% endif %}


        {% if request.user.superuser %}
            <form method="get" action="{% url 'logout' %}">
                <br>
                <input type="submit" value="Logout">
            </form>
            <form method="get" action="{% url 'returns' %}">
                <input type="submit" value="Return view">
            </form>
            {% for prod in object_list %}
                <div>
                    <P>Product: {{ prod.name }}
                    <p>Description: {{ prod.description }}</p>
                    <p>Price: {{ prod.price }}</p>
                    <p>Stock availability: {{ prod.quantity_in_stock }}</p>
                <form method="get" action="{% url 'update_product' prod.pk %}">
                    <input type="submit" value="Update">
                </form>
                <form method="get" action="{% url 'product_create' %}">
                    <input type="submit" value="Add">
                </form>
                </div>
            {% endfor %}
        {% endif %}
        {% if request.user.is_anonymous %}
            <form method="get" action="{% url 'login' %}">
                <input type="submit" value="Login">
            </form>
            <form method="get" action="{% url 'registration' %}">
                <input type="submit" value="Registration">
            </form>
            {% for prod in object_list %}
                <div>
                    <P>Product: {{ prod.name }}
                    <p>Description: {{ prod.description }}</p>
                    <p>Price: {{ prod.price }}</p>
                    <p>Stock availability: {{ prod.quantity_in_stock }}</p>
                </div>
            {% endfor %}
        {% endif %}


    {% endblock %}
</div>
</body>
</html>